
# mac file system
.DS_Store

# node
node_modules

bundle-analysis.html

# builds
dist
.turbo
.alchemy

# envs
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

#prisma
__generated__
generated

# Bun
*.bun-build