@import "tailwindcss";

/* 400 normal */
@font-face {
  font-family: "Verdana Custom";
  src: url("/assets/fonts/verdana/Verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 400 italic */
@font-face {
  font-family: "Verdana Custom";
  src: url("/assets/fonts/verdana/Verdana-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 700 bold */
@font-face {
  font-family: "Verdana Custom";
  src: url("/assets/fonts/verdana/Verdana-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 700 bold italic */
@font-face {
  font-family: "Verdana Custom";
  src: url("/assets/fonts/verdana/Verdana-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
	--font-fondamento: "Fondamento", cursive;
	--font-martel: "Martel", serif;
	--font-poppins: "Poppins", sans-serif;
	--font-roboto: "Roboto", sans-serif;
	--font-verdana: "Verdana Custom", sans-serif;

	--font-sans: var(--font-roboto);
	--font-serif: var(--font-martel);

	--color-tibia-100: #051122;
	--color-tibia-200: #0d2e2b;
	--color-tibia-300: #194440;
	--color-tibia-400: #debb9d;
	--color-tibia-500: #fff2db;
	--color-tibia-600: #d4c0a1;
	--color-tibia-700: #5f4d41;
	--color-tibia-800: #f1e0c5;
	--color-tibia-900: #f1e0c6;
	--color-tibia-1000: #d5c0a1;
	--color-tibia-1100: #ebcaa3;

	--color-primary: #ffd698;
	--color-secondary: #5a2800;
	--color-tertiary: #4b7874;
	--color-quaternary: #3a3738;
	--color-quintenary: #793d03;
	--color-senary: #55636c;
	--color-septenary: #faf0d7;
	--color-octonary: #5f4d41;

	--color-error: #c91b1b;
	--color-success: #2e7d32;
	--color-warning: #f57c00;
	--color-info: #1976d2;

	--text-xxs: 0.625rem; /* 10px */

	--text-shadow-title:
		-1px -1px 0 #000, 1px -1px 0 #2c2c2c, -1px 1px 0 #000, 1px 1px 0 #000;
}

@layer base {
	html {
		font-family: var(--font-sans);
		scroll-behavior: smooth;
	}
}

@layer utilities {
	.hover\:filter-hover:hover {
		@apply brightness-110;
		@apply contrast-110;
		@apply saturate-110;
	}

	.section-title {
		@apply font-fondamento;
		@apply font-bold;
		@apply text-primary;
		@apply text-shadow-title;
		@apply select-none;
		@apply capitalize;
		@apply tracking-wider;
	}

	.fondamento-title {
		@apply font-fondamento;
		@apply font-medium;
		@apply text-shadow-title;
		@apply text-primary;
	}

	.layout-main {
		@apply flex;
		@apply flex-col;
		@apply flex-wrap;
		@apply gap-4;
		@apply mt-[3px];
		grid-area: content;
	}

	.layout-section {
		@apply pb-4;
		@apply mt-4;
		@apply md:pb-6;
		@apply md:mt-6;
		@apply xl:pb-8;
		@apply xl:mt-8;
	}

	.layout-content-full {
		@apply w-full;
		@apply py-6;
		@apply md:py-7;
		@apply xl:py-8;
	}

	.layout-content {
		@apply block;
		@apply box-border;
		@apply w-full;
		@apply max-w-screen-2xl;
		@apply px-4;
		@apply md:px-6;
		@apply xl:px-8;
		@apply mx-auto;
	}

	.page-layout {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "header" "content";
	}

	/* Medium screens and up */
	@media (width > 80rem) {
		.page-layout {
			column-gap: 0.5rem;
			grid-template-columns: 205px auto 205px;
			grid-template-areas:
				"header header header"
				"navigation content sidebar"
				"footer footer footer";
		}
	}
}
